# Ignore the build directory
/build/
/build-windows/
/data/

# Ignore the compiled executables
*.out
*.exe
llm_cli

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
MakeFile

# OS-Specific files
.DS_Store
Thumbs.db
data/character_modal.json
